/log/*
/config/defines.php
/config/db_local.php
/modules/api/controllers/test/*
/web/ofiles/*
/web/oimages/*
/web/assets/*
/.settings
/FaceSDK
/javaphp
.tags
.tags_sorted_by_file
.vscode
*.exvim
/.exvim.open
/modules/api/controllers/Yeepayback2Controller.php
/nbproject/private/
/nbproject/
/.project
.DS_Store
config/.DS_Store
.idea/
controllers/TestController.php
vendor/tests/
/modules/api/controllers/TestController.php
/modules/bankauth/config/bankauth.csv
/modules/bankauth/config/bankauth.xlsx
/modules/bankauth/controllers/TestbindcardController.php
/commands/BindcardController.php
/common/ApiClientCrypt.php