html,body{width:100%;background: #f3f3f3;  color: #444; font-family: "微软雅黑"; font-size: 14px; }
a{color:#444}
img{ display:block; width: 100%;}

/*消息通告页面*/
.tab_xtmeg{background: #fff; border-bottom: 1px solid #f3f3f3; padding: 15px 0;}
.tab_xtmeg div.xtong_left{font-size: 1.142rem;color: #999; display: inline-block; width: 49%; text-align: center; position: relative;}
.tab_xtmeg div.xtong_left.hover{color:#C90000  ;}
.tab_xtmeg div.xtong_left.hover .weidu_meage{position: absolute; width: 20%; height: 2px;bottom:-15px; left: 40%; background: #C90000 ; }
.tab_xtmeg div.xtong_left.hover .weidu_txt{position: absolute;top: -5px;right: 26%;display: inline-block;background:#C90000 ;font-size: 0.642rem; color: #fff;padding: 0 4px; border-radius: 50%;}
.xtmeg_xtong{ width: 100%; background: #fff;}
.important{position: relative;padding : 10px 0 15px; margin: 0 5%; border-radius: 5px; color: #444; border-bottom:1px solid #f3f3f3;}
.important.none_wdu{ color: #999;}
.important h3{font-size: 1.142rem}
.importantcont{padding : 20px 5% 15px;margin: 0; background: #fff;}
.importantcont h3{ padding-left: 10px; font-size: 1.285rem;}
.important h3 em{display: inline-block;width: 6px;height: 6px;margin-right: 6px;background: #fff;border-radius: 50px; float: left; margin-top: 8px;}
.important h3 em.weidu{ background: #C90000 ;}
.important p{color: #999; font-size: 0.857rem; position: absolute;right: 5%;top:0.9rem;}
.important div{ color:#999;font-size:0.857rem; margin-top: 5px; padding-left: 3%;  }
.important div.newcont{color: #444;}
/*绑定信用卡*/
.yhmaold{ background: #fff; position: relative;margin-bottom: 10px;}
.yhmaold .dbk_inpL {border-top: 1px solid #f3f3f3;border-radius: 5px;background: #fff; padding: 4% 6.3%;overflow: hidden;}
.yhmaold .dbk_inpL label {text-align: left;float: left;margin-bottom: 0;width:26%;font-size: 1rem;color: #444;}
.yhmaold .dbk_inpL input{border: none;float: left; margin-top:2px; width: 70%;}
.yhmaold .dbk_inpL input.yzmwidth{width: 45%;}
.buttonyi {margin: 0 5%; margin-top: 25px;}
.buttonyi button {width: 100%;background: #C90000;color: #fff;font-size: 1.25rem; padding: 10px 0; border-radius: 50px;}
.yhmaold .dbk_inpL span.hqyzm {float: right;padding-left: 10px;color: #C90000;}

/*成功失败弹窗*/
.jiebangcg {position: fixed;top: 33%;color: #fff; z-index: 15; padding: 25px 0; border-radius: 5px;text-align: center;background: rgba(0,0,0,0.7); width: 60%;left: 20%; padding: 15px 0;}

/*我的资料*/
.my_ziliao h3{ padding: 10px 5%; color: #999;}
.newself{ background: #fff; position: relative;}
.newself .dbk_inpL {border-bottom: 1px solid #f3f3f3;border-radius: 5px;background: #fff; padding: 4% 5%;overflow: hidden;}
.newself .dbk_inpL label {float: left;text-align: left;margin-bottom: 0;}
.newself .dbk_inpL p{float: right;color: #ccc;padding: 1px 0 2px;border-radius: 10px;}
.newself .dbk_inpL p span{float: right;}
.newself .dbk_inpL p img{float: right;width: 14%;margin-top: 2px; margin-left: 5px;}
.newself .dbk_inpL p.black{color: #444 ;}
.newself .dbk_inpL p.rightred{color: #C90000 ;}

/*手机号认证*/
.chongzhi{width: 100%; position: fixed;bottom: 30px; color: #999;text-align: center; }
/*奖品*/
.pinall{ margin-top: 10px; background: #fff;}
.pinall .pin_cont{overflow: hidden; padding: 20px 5%;border-bottom:1px solid #F3F3F3;}
.pinall .pin_cont img{display: block; float: left; width: 20%;}
.pinall .pin_cont .jpintxt{float: left; padding-left: 5%;}
.pinall .pin_cont .jpintxt h3{font-size: 1.142rem; padding-top: 7px;}
.pinall .pin_cont .jpintxt p{color: #999; padding-top: 8px;}
/*无奖品*/
.bdfalse img{ width: 40%; margin: 25% auto 0;}
.bdfalse p{ text-align: center; color: #ccc; font-size: 16px; padding: 15px 0 15px;}

/*优惠券*/
.tab_xtmeg div.xtong_left.hover .weidu_meage.yhquan{width: 10%;left: 45%;}
.yyhuqmeg{ margin-top: 10px;padding: 10px 5%; }
.yyhuqmeg .vipquan{position: relative; background: url(../../images/yyy302/hkquan.png) no-repeat; background-size: 100% 100%; overflow: hidden; margin-bottom: 10px;}
.yyhuqmeg .vipquan .vipqzuo{ float: right; width: 68%; color: #444; padding: 2rem 0 12px 20px;}
.yyhuqmeg .vipquan .vipqzuo p{font-size: 14px;}
.yyhuqmeg .vipquan .vipqzuo h3{font-size: 1.285rem; padding-bottom: 10px;}

.yyhuqmeg .vipquan .vipqyou{float: left;width: 30%;  text-align: center; color: #c90000; padding:2rem 0;}
.yyhuqmeg .vipquan .vipqyou em{ font-size: 2.571rem;}
.yyhuqmeg .xinmes{ padding-top: 16px;font-size: 18px;}
.yyhuqmeg .vipquan .vipqzuo p.yxioqi{ font-size: 12px; color: #999;}
.yyhuqmeg .vipquan.hkquan{ background: url(../../images/yyy302/jkquan.png) no-repeat; background-size: 100% 100%;}
.yyhuqmeg .vipquan .finshend{width: 97.6%; height: 94%;background: rgba(255,255,255,.6); position: absolute;top: 0;left: 1.2%; }
.yyhuqmeg .vipquan .vipqyou.changegb{padding:1rem 0; font-size:1.285rem;color: #444;}
.yyhuqmeg .vipquan .vipqzuo.bsered{padding-top: 1rem;}
.yyhuqmeg .vipquan .vipqzuo h3.h3chagebh{ color: #c90000;}
.yyhuqmeg .vipquan .vipqzuo h3.h3chagebh em{font-size: 2rem;}

.main{position: absolute;
    right: 5%;
    top: 1rem;}
.main .noehtyxh{display: table;font-size: 1rem;}
.main .regular-checkbox{
	display: none;
}
.main .regular-radio:checked + label {color: #99a1a7;}
.main .regular-radio + label {
	-webkit-appearance: none;
	padding: 7px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
.main .regular-checkbox + label{
	border: 1px solid #c2c2c2;
    position: relative;
    float: left;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin-top: 2px;
}
@media screen and (max-width: 365px) {
	.main .regular-checkbox + label{
		 width: 15px;
    	height: 15px;
    	border-radius: 50px;
    	margin-top: 2px;
	}
}
.main .regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	text-shadow: 0px;
	left: 2px;
	font-size: 32px;
}
.main .regular-checkbox:checked + label:after{
	content: ' ';
	width: 100%;
	height: 100%;
	background: url(../../images/yyy302/xyihand.png);
	background-size: 100% 100%;
	position: absolute;
	top: 0px;
	left: 0;
}

/*分期首页弹窗*/
.Hmask { width: 100%;height: 100%;background: rgba(0,0,0,.6); position: fixed;top: 0; left: 0;}
.erwma{position: fixed;top: 20%;left: 5%;z-index: 100; width: 90%;}
.erwma .error{top: -3.3rem;position: absolute;right: 0; width: 10%; height: 2.3rem;}


