/log/*
/config/defines.php
/config/db_local.php
/runtime/*
/.project
/.buildpath
/web/assets
/web/upload
/modules/backend/controllers/TestController.php
/modules/dev/controllers/TestController.php
/nbproject/private/
*.DS_Store
.vscode/
.idea/
/controllers/TestController.php
