/.settings
/.project
/.buildpath
/.idea/
/nbproject/private/
/controllers/TestxsController.php

/commands/SubController.php
/config/db.php
/config/defines.php
/config/db_local.php
/menu.txt
/.vscode
.DS_Store
*/.DS_Store
/nbproject/
/vendor/
/modules/sysloan/controllers/TestController.php
/config/db_test.php
/config/db_test.php
/controllers/TestrController.php
/web/backoperate/upload
