<!--{include header}-->

<div class="blank108"></div>
<div class="blank60"></div>
<div class="w2 clearfix">
	<div class="bangdingchenggong">
    	<div class="bdcgbox">
            <p>您的三好网账号：<span>{$binding['mobile']}</span></p>
            <p>您的账号已绑定支付通账号：<span>{$binding['payno']}</span></p><br /><br />
            <p class="o1">该支付通账户将作为您的消费和收款账户,为您提供收款结算服务。</p>
            <p class="o1">您还可以使用该支付通账号直接登录三好网。</p><br /><br />
            <p>您现在可以购买发布商品或者购买商品了，赶紧去<a href="/">首页看看</a> 或者<a href="javascript:void(0);" id="release_product">发一个商品</a>试试吧！</p>
        </div>
    </div>
</div>
<div class="blank40"></div>


<!--{include footer}-->