<!--{include header}-->

<!--{if $count==0}-->
<div class="blank108"></div>
<div class="blank60"></div>
<div class="pnihility">
	<div class="mc"><img src="/static/images/k.png" alt="" /></div>
    <div class="mb"><a href="javascript:void(0);" id="release_product" class="pre">发布新商品</a></div>
</div>
<div class="blank120"></div>
<!--{else}-->
<div class="blank108"></div>
<div class="blank60"></div>
<div class="w2 clearfix">
	<div class="commodityList">
    	<div class="mt">
        	<strong>商品列表</strong>
            <a href="javascript:void(0);" id="release_product">发布新商品</a>
        </div>
        <div class="mc">
        <!--{loop $product $index $one}-->
        	<div class="list" id="delproduct_{$one['id']}">
        		<!--{if $one['image'] != ''}-->
                <div class="fore1"><!--{if $one['status'] == 2 || $one['status'] == 3}--><img src="/{$one['image']}" alt="{$one['pname']}" /><em class="m1">未上架</em><!--{/if}--><!--{if $one['status'] == 1}--><a href="/account/productdetail.php?id={$one['id']}"><img src="/{$one['image']}" alt="{$one['pname']}" /></a>
                
                <!--{if $one['end_time'] != '' && $one['max_number'] != ''}-->
                <!--{if ($one['end_time'] < $now) || ($one['max_number']-$one['sale_number']<=0)}-->
                <em class="m3">已下架</em>
                <!--{else}-->
                <em class="m2">出售中</em>
                <!--{/if}-->
                <!--{/if}-->
                <!--{if $one['end_time'] != '' && $one['max_number'] == ''}-->
                <!--{if $one['end_time'] < $now}-->
                <em class="m3">已下架</em>
                <!--{else}-->
                <em class="m2">出售中</em>
                <!--{/if}-->
                <!--{/if}-->
               	<!--{if $one['end_time'] == '' && $one['max_number'] != ''}-->
                <!--{if ($one['max_number']-$one['sale_number'] <= 0)}-->
                <em class="m3">已下架</em>
                <!--{else}-->
                <em class="m2">出售中</em>
                <!--{/if}-->
                <!--{/if}-->
                <!--{if $one['end_time'] == '' && $one['max_number'] == ''}-->
                <em class="m2">出售中</em>
                <!--{/if}-->
                <!--{/if}--></div>
                <!--{else}-->
                <div class="fore1"><!--{if $one['status'] == 2}--><img src="/static/images/img1.jpg" alt="{$one['pname']}" /><em class="m1">未上架</em><!--{/if}--><!--{if $one['status'] == 1}--><a href="/account/productdetail.php?id={$one['id']}"><img src="/static/images/img1.jpg" alt="{$one['pname']}" /></a>
                
              	<!--{if $one['end_time'] != '' && $one['max_number'] != ''}-->
                <!--{if ($one['end_time'] < $now) || ($one['max_number']-$one['sale_number']<=0)}-->
                <em class="m3">已下架</em>
                <!--{else}-->
                <em class="m2">出售中</em>
                <!--{/if}-->
                <!--{/if}-->
                <!--{if $one['end_time'] != '' && $one['max_number'] == ''}-->
                <!--{if $one['end_time'] < $now}-->
                <em class="m3">已下架</em>
                <!--{else}-->
                <em class="m2">出售中</em>
                <!--{/if}-->
                <!--{/if}-->
               	<!--{if $one['end_time'] == '' && $one['max_number'] != ''}-->
                <!--{if ($one['max_number']-$one['sale_number'] <= 0)}-->
                <em class="m3">已下架</em>
                <!--{else}-->
                <em class="m2">出售中</em>
                <!--{/if}-->
                <!--{/if}-->
                <!--{if $one['end_time'] == '' && $one['max_number'] == ''}-->
                <em class="m2">出售中</em>
                <!--{/if}-->
                
                
                <!--{/if}--></div>
                <!--{/if}-->
                <div class="fore2">
                	<h2><!--{if $one['status'] == 1}--><a href="/account/productdetail.php?id={$one['id']}">{$one['pname']}</a><!--{else}-->{$one['pname']}<!--{/if}--></h2>
                    <h4>售价：<span>{$one['price']}</span>元</h4>
                    <p>{$one['info']}</p>
                </div>
                <div class="fore3">
                    <dl class="item1">
                    <!--{if $one['sale_number'] != 0}-->
                        <dt>￥{$one['totalorigin']}</dt>
                   <!--{else}-->
                   		<dt>0</dt>
                   <!--{/if}-->
                        <dd>销售额</dd>
                    </dl>
                    <dl class="item2">
                    	<!--{if $one['sale_number'] != ''}-->
                        <dt>{$one['sale_number']}</dt>
                        <!--{else}-->
                        <dt>0</dt>
                        <!--{/if}-->
                        <dd>已成交订单</dd>
                    </dl>
                    <dl class="item3">
                    	<!--{if $one['pageview'] != ''}-->
                        <dt>{$one['pageview']}</dt>
                        <!--{else}-->
                        <dt>0</dt>
                        <!--{/if}-->
                        <dd>浏览数</dd>
                    </dl>
                    <dl class="item4">
                    	<!--{if $one['max_number'] != ''}-->
                        <dt>{$one['max_number']-$one['sale_number']}</dt>
                        <!--{else}-->
                        <dt>无限</dt>
                        <!--{/if}-->
                        <dd>库存</dd>
                    </dl>
                </div>
                <div class="fore4">
                    <ul>
                        <li class="item1"><a href="/account/productmodify.php?id={$one['id']}">编辑</a></li>
                        <!-- {if $one['status'] == 1 || $one['status'] == 3} -->
                        <li class="item2"><a href="/account/productdetail.php?id={$one['id']}">查看</a></li>
                        <!-- {/if} -->
                        <!--{if $one['status'] == 1}-->
                        <li class="item3"><a href="javascript:void(0);" class="shelvesproduct" pid="{$one['id']}">下架</a></li>
                        <!--{/if}-->
                        <!-- {if $one['status'] == 2} --><li class="item3"><a href="javascript:void(0);" class="delproduct" pid="{$one['id']}">删除</a></li><!-- {/if} -->
                    </ul>
                </div>
            </div>
            <!--{/loop}--> 
            
        </div>
        <!--{if $count > 10}-->
        {$pagestring}
        <!--{/if}-->
    </div>
</div>
<div class="blank40"></div>
<!--{/if}-->

<!--{include footer}-->