<!--{include header}-->

<div class="blank108"></div>
<div class="blank60"></div>
<div class="zhaohuimima">
	<div class="mt"></div>
    <div class="mc">
    	<h3><strong>找回密码</strong></h3>
        <ul class="steps steps4">
            <li class="li1">1.输入手机号</li>
            <li class="li2">2.验证身份</li>
            <li class="li3">3.设置新密码</li>
            <li class="li4">4.完成</li>
        </ul>
        <div class="cont2">操作成功！请<a href="/account/login.php">点击这里</a>登录</div>
    </div>
    <div class="mb"></div>
</div>
<div class="blank120"></div>

<!--{include footer}-->