<!--{include header}-->

<div class="blank108"></div>
<div class="blank60"></div>
<div class="zhaohuimima">
	<div class="mt"></div>
    <div class="mc">
    	<h3><strong>找回密码</strong></h3>
        <ul class="steps steps3">
            <li class="li1">1.输入手机号</li>
            <li class="li2">2.验证身份</li>
            <li class="li3">3.设置新密码</li>
            <li class="li4">4.完成</li>
        </ul>
        <dl class="item3" style="margin-top:50px;">
            <dt>新密码</dt>
            <dd><input type="password" class="text" id="repass_password" maxlength="16" /><em id="repass_password_check"></em></dd>
        </dl>
        <dl class="item3">
            <dt>确认密码</dt>
            <dd><input type="password" class="text" id="repass_repassword" maxlength="16" /><em id="repass_repassword_check"></em></dd>
        </dl>
        <div class="btns">
        	<input type="hidden" id="mobile" value="{$mobile}" />
        	<input type="button" id="repass_button3" value="" class="btn3" />
        </div>
    </div>
    <div class="mb"></div>
</div>
<div class="blank120"></div>

<!--{include footer}-->