<div class="tJiebang vis">
	<div class="rel">
        <div class="mt"></div>
        <div class="mc">
        	<h3 class="clearfix"><a href="javascript:void(0);" onclick="return X.boxClose();" class="close">X</a></h3>
            <div class="entry">
                <P>您确认要解绑吗？</p>
            </div>
            <div class="btns clearfix">
            	<input type="button" id="dialog_unbindqq" class="fl" value="确定" />
                <input type="button" onclick="return X.boxClose();" class="fr" value="取消" />
            </div>
        </div>
    </div>
</div>