<div class="tankuang">
	<div class="close"><a href="javascript:void(0);" onclick="return X.boxClose();">X</a></div>
    <div class="mc">
    	<h1>您尚未绑定支付通账户，无法在三好网购买和出售商品。</h1>
    	<div class="forediv1">为了更好地为您服务，请您绑定一个支付通账户，支付通账户一经绑定，<br />将作为您的消费和收款账户,为您提供收款结算服务。</div>
        <div class="forediv2"><a href="/account/receivableaccount.php?action=bindingicardpay" target="_blank"><img src="/static/images/bangdingzhifutong.png" alt="" /></a></div>
        <div class="forediv3">还不清楚支付通是什么，想对支付通有很多了解？<a href="http://www.icardpay.com/infcenter/cardpay/" target="_blank">点击这里</a>了解支付通</div>
    </div>
</div>
