<!--{include header}-->

<div class="blank108"></div>
<div class="wanzhuan">
	<div class="w2 clearfix">
        <p>每个人都可以在网上出售自己的商品。</p>
        <p>也许，你有很好的创造力，你创建了很多内容，但是否大多数时间，你所创造的作品，只是在你个人电脑硬盘的某个角落休息，积攒时间的尘埃？</p>
        <p>也许，你是个购物狂，囤积了大量你不再需要但别人会很感兴趣的东西。它也许会很抢手！有没有想过开店卖掉它们？</p>
        <p>开店？别闹了，你知道开一个店有多麻烦吗…"</p>
        <p>在三好网闪购平台，无需开店，无需任何费用，出售商品，只需要一个链接。是的，卖东西，就这么简单。</p>
    </div>
</div>
<div class="wanzhuan2 clearfix">
	<div class="w2">
    	<h3>只需三步，零风险，轻轻松松卖东西！</h3>
        <ul>
        	<li><img src="/static/images/s1.png" alt="" /><span>创建商品</span></li>
            <li><img src="/static/images/s2.png" alt="" /><span>将商品分享到SNS网站</span></li>
            <li><img src="/static/images/s3.png" alt="" /><span>bingo——销售！</span></li>
        </ul>
    </div>
</div>
<div class="wanzhuan3">
	<div class="w2">
    	<h3>您的商品可以出现在</h3>
        <ul>
        	<li class="li1"></li>
            <li class="li2"><img src="/static/images/ewm.png" alt="" /></li>
            <li class="li3"><img src="/static/images/tags.png" alt="" /></li>
        </ul>
    </div>
</div>
<div class="wanzhuan4 clearfix">
	<div class="w2">
    	<h3>买家如何购买你的商品</h3>
        <ul>
        	<li></li>
            <li><img src="/static/images/s5.png" alt="" /><span>选择数量和商品属性，点击购买</span></li>
            <li><img src="/static/images/s6.png" alt="" /><span>提现成功</span></li>
        </ul>
    </div>
</div>
<div class="wanzhuan5">
	<div class="w2">
    	<h3><strong>你如何收款</strong></h3>
    	<ul>
            <li>1、申请实名认证；</li>
            <li>2、点击提现，填写需要提现的银行卡账号；</li>
            <li>3、bingo！提现成功！</li>
        </ul>
    </div>
</div>
<div class="wanzhuan6">
	<div class="w2">
    	<p class="clearfix"><span>你还在等什么？</span><input onclick="window.location.href='/account/signup.php'" type="button" class="btn" /></p>
    </div>
</div>
<div class="blank40"></div>
<!--{include footer}-->
