<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>三好网闪购-后台首页</title>
<link rel="stylesheet" type="text/css" href="/static/css/css.css" />
<link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
<!--[if IE 6]> 
<script type="text/javascript" src="/static/js/DD_belatedPNG_0.0.8a-min.js"></script> 
<script type="text/javascript">DD_belatedPNG.fix('*');</script> 
<![endif]-->
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/static/js/manage.js"></script>
</head>

<body>
<div class="header">
	<div class="w2 clearfix">
    	<h2 class="logo fl"><a target="_blank" href="http://www.jxtuan.com"><img src="/static/images/logo.png" alt="" /></a></h2>
        <h3 class="blogo fl"><img src="/static/images/blogo.png" alt="" /></h3>
        <div class="fr">
        	<div class="exit">您好，{$login_user['username']}！<a href="/manage/logout.php">【安全退出】</a></div>
        </div>
    </div>
</div>
<div class="blank140"></div>