<!--{include manage_header}-->
<div class="w2 clearfix">
	<!--{include manage_left}-->
    <div class="mn">
    	<div class="crm"><a href="/manage/order.php?action=list">首页</a>&nbsp;&gt;&gt;&nbsp;<a href="/manage/manager.php?action=list">管理员管理</a>&nbsp;&gt;&gt;&nbsp;修改管理员信息</div>
        <div class="wrap">
            <table class="table8" width="100%" border="1" bordercolor="#b61a3f" cellpadding="0" cellspacing="0" rules="rows">
            	<tbody>
            	<form action="/manage/manager.php?action=update" method='post' id='admin_manage_update_form' >
                    <tr class="odd">
                        <th width="140"><span>*</span>登录名：</th>
                        <td width="602"><input type="hidden" name="id" value="{$manage[0]['id']}" /><input type="text" name="username" id="admin_username" value="{$manage[0]['username']}" class="ipt ipt1" /></td>
                    </tr>
                    <tr class="even">
                        <th width="140"><span>*</span>真实姓名：</th>
                        <td width="602"><input type="text" name="realname" id="admin_realname" value="{$manage[0]['realname']}" class="ipt ipt1" /></td>
                    </tr>
                    <tr class="odd">
                        <th width="140"><span>*</span>手机号码：</th>
                        <td width="602"><input type="text" name="mobile" id="admin_mobile" value="{$manage[0]['mobile']}" class="ipt ipt1" /></td>
                    </tr>
                    <tr class="even">
                        <th width="140"><span>*</span>邮箱：</th>
                        <td width="602"><input type="text" name="email" id="admin_email" value="{$manage[0]['email']}" class="ipt ipt1" /></td>
                    </tr>
                    <tr class="even">
                        <th width="140"><span>*</span>密码：</th>
                        <td width="602"><input type="password" name="password" id="admin_password" class="ipt ipt1" /></td>
                    </tr>
                    <tr class="odd">
                        <th width="140"><span>*</span>确认密码：</th>
                        <td width="602"><input type="password" name="password2" id="admin_password2" class="ipt ipt1" /></td>
                    </tr>
                    <tr class="even">
                        <th width="140">权限：</th>
                        <td width="602">
                        	<p><input type="checkbox" name="power[]" value="1" <!-- {if in_array(1,$permiss)} --> checked <!-- {/if} --> /><label>意见反馈</label></p>
                            <p><input type="checkbox" name="power[]" value="2" <!-- {if in_array(2,$permiss)} --> checked <!-- {/if} --> /><label>商品管理</label></p>
                            <p><input type="checkbox" name="power[]" value="3" <!-- {if in_array(3,$permiss)} --> checked <!-- {/if} --> /><label>订单管理</label></p>
                            <p><input type="checkbox" name="power[]" value="4" <!-- {if in_array(4,$permiss)} --> checked <!-- {/if} --> /><label>用户管理</label></p>
                            <p><input type="checkbox" name="power[]" value="5" <!-- {if in_array(5,$permiss)} --> checked <!-- {/if} --> /><label>敏感词管理</label></p>
                        </td>
                    </tr>
                    <tr class="odd">
                    	<td>&nbsp;</td>
                        <td>
                        	<input type="button" id="admin_manage_update_submit" class="btn btn1" value="提交" />
                            <input type="button" class="btn btn1" value="返回" />
                        </td>
                    </tr>
                    </form>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--{include manage_footer}-->