<!--{include manage_header}-->
<div class="w2 clearfix">
	<!--{include manage_left}-->
    <div class="mn">
    	<div class="crm"><a href="/manage/order.php?action=list">首页</a>&nbsp;&gt;&gt;&nbsp;<a href="/manage/manager.php?action=list">管理员管理</a>&nbsp;&gt;&gt;&nbsp;添加管理员</div>
        <div class="wrap">
            <table class="table8" width="100%" border="1" bordercolor="#b61a3f" cellpadding="0" cellspacing="0" rules="rows">
            	<tbody>
            	<form action="/manage/modelsmanage.php?action=add" method="post">
                    <tr class="odd">
                        <th width="140"><span>*</span>模块位置：</th>
                        <td width="602">
                        <select name="pid">
                        	<option value='0'>添加菜单</option>
                        <!-- {loop $models $index $one} -->
                        	<!-- {if $one['pid'] == 0} -->
                        	<option value="{$one['id']}">{$one['name']}</option>
                        	<!-- {else} -->
                        	<option value="{$one['id']}">- -{$one['name']}</option>
                        	<!-- {/if} -->
                        <!-- {/loop} -->
                        </select>
                        </td>
                    </tr>
                    <tr class="even">
                        <th width="140"><span>*</span>模块名称：</th>
                        <td width="602"><input type="text" name="name" class="ipt ipt1" /></td>
                    </tr>
           			<tr class="odd">
                        <th width="140"><span>*</span>模块排序：</th>
                        <td width="602"><input type="text" name="sort" value='0' class="ipt ipt1" /></td>
                    </tr>
                    <tr class="even">
                   		<th width="140"><span>*</span>模块url：</th>
                        <td width="602"><input type="text" name="url" class="ipt ipt1" /></td>
                    </tr>
                    <tr class="odd">
                        <th width="140"><span>*</span>模块简介：</th>
                        <td width="602"><textarea name='desc'></textarea></td>
                    </tr>
                    <tr class="even">
                    	<td>&nbsp;</td>
                        <td>
                        	<input type="submit" class="btn btn1" value="提交" />
                        </td>
                    </tr>
                    </form>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--{include manage_footer}-->