<!--{include header}-->

<div class="blank108"></div>
<div class="blank60"></div>
<div class="w2 clearfix">
	<div class="ordersDetail clearfix">
    	<div class="ordersTop"><strong>订单详情</strong></div>
        <div class="pback2"><a href="/order/index.php?action=buy">返回"订单"</a></div>
        <div class="ordersArea1">
        	<!--{if $order['state'] == 'unpay'}-->
        	<div class="clearfix">当前订单状态：<span>未付款</span></div>
            <div class="clearfix">未付款的商品不会锁定库存，请及时付款，不然就被抢光啦！</div>
            <!--{if $diff_time > 0 || $order['paytype'] == 'jxk'}-->
            <div class="clearfix"><!--{if ($order['state'] == 'unpay' && $order['paytype'] != 'jxk')}--><a href="/order/check.php?id={$order['id']}" id="order_detail_pay"><img src="/static/images/btn12.png" alt="" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<span id="order_single_lasttime" curtime="{$now}000" diff="{$diff_time}000" class="o">剩余时间</span><span id="order_single_difftime" class="o">00:{$left_minute}:{$left_time}</span>&nbsp;&nbsp;&nbsp;&nbsp;<!--<a href="javascript:void(0);" oid="{$order['id']}" class="delorder">删除订单</a>--><!--{/if}--></div>
            <!--{else}-->
            <div class="clearfix"><span>订单失效</span>&nbsp;&nbsp;&nbsp;&nbsp;<!--<a href="javascript:void(0);" oid="{$order['id']}" class="delorder">删除订单</a>--></div>
            <!--{/if}-->
            <!--{else if $order['state'] == 'pay'}-->   
        	<div class="clearfix">当前订单状态：<span>已付款</span></div>
            <div class="clearfix">等待卖家发货。</div>
            <!--{else}-->            
        	<div class="clearfix">当前订单状态：<span>交易成功</span></div>
            <div class="clearfix">卖家已发货。</div>
            <!--{/if}-->
            
        </div>
        <div class="ordersArea2">
        	<div class="dt">物流信息</div>
            <div class="dd">
            	<!--{if $order['state'] == 'complete'}-->
            	<div class="clearfix">快递公司：{$order['express_name']}</div>
                <div class="clearfix">物流单号：{$order['express_id']}</div>
            	<!--{else}-->
            	<div class="clearfix">尚无物流信息</div>
            	<!--{/if}-->
            </div>
        </div>
        <div class="ordersArea2">
        	<div class="dt">订单信息</div>
            <div class="dd">
            	<div class="clearfix">订单编号：{$order['pay_id']}</div>
                <div class="clearfix">下单时间：{$order['createdate']}</div>
            </div>
        </div>
        <div class="ordersArea2">
        	<div class="dt">配送信息</div>
            <div class="dd">
            	<div class="clearfix">收货人：{$order['realname']}</div>
                <div class="clearfix">联系电话：<!--{if !empty($order['mobile'])}-->{$order['mobile']}<!--{else}-->{$order['phone']}<!--{/if}--></div>
                <div class="clearfix">地址： {$useraddress}，{$order['postcode']}</div>
            </div>
        </div>
        <div class="ordersArea2">
        	<div class="dt">买家留言</div>
            <div class="dd">
            	<div class="clearfix"><!--{if !empty($order['remark'])}-->{$order['remark']}<!--{else}-->无<!--{/if}--></div>
            </div>
        </div>
        <div class="ordersArea3">
        	<div class="dt">商品信息</div>
            <div class="dd">
            	<div class="omt">
                	<ul>
                    	<li class="pname">商品</li>
                        <li class="pprice">单价</li>
                        <li class="pamount">数量</li>
                        <li class="pseller">卖家</li>
                        <li class="zprice">金额</li>
                    </ul>
                </div>
                <div class="omc">
                	<ul>
                    	<li class="pname">
                        	<p>{$product['pname']}</p>
                            <p><span>{$order['property']}</span></p>
                        </li>
                        <li class="pprice">￥{$order['price']}</li>
                        <li class="pamount">{$order['quantity']}</li>
                        <li class="pseller">{$user['saler']}</li>
                        <li class="zprice">
                        	<p>￥{$order['origin']}</p>
                            <p><!--{if $order['express'] == 'y'}-->（含运费{$order['express_price']}）<!--{else}-->免运费<!--{/if}--></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blank40"></div>
<!--{if $diff_time > 0}-->
<script>
setTimeout('getorderdetaillasttime()',1000);
</script>
<!--{/if}-->
<!--{include footer}-->