<!--{include header}-->

<div class="blank108"></div>
<div class="blank60"></div>
<div class="w2 clearfix">
	<div class="ordersDetail clearfix">
    	<div class="ordersTop"><strong>购买仅需3步</strong></div>
    	<div class="orderslMain">
        	<div class="step ss3"></div>
            <div class="gmcg">
                <p class="forep1">您已成功付款</p>
                <p class="forep3"><a href="/order/index.php?action=buy"><img src="/static/images/ckymddcp.png" alt="" /></a></p>
            </div>
        </div>
        <div class="ordersSide">
       		<div class="rest">
            	<div class="rmt"><strong>请放心购买</strong></div>
            	<dl class="item">
                	<dt><img src="/static/images/pic10.png" alt="" /></dt>
                    <dd>采用网银和第三方平台支付，最大限度保证您支付安全。</dd>
                </dl>
                <dl class="item">
                	<dt><img src="/static/images/pic11.png" alt="" /></dt>
                    <dd>为了支付便捷，建议Windows用户使用IE浏览器支付。</dd>
                </dl>
                <div class="rbox">
                	<h3>需要帮助?</h3>
                    <p>没有网银如何购买？</p>
                    <p>您也可以让朋友代您购买，也 可使用支付通刷卡器进行购买，无需开通网上银行。 了解支付通刷卡器</p>
                    <p>购买支付通刷卡器，请点击</p><br />
                    <p><a href="http://huodong.icardpay.com" target="_blank">http://huodong.icardpay.com</a></p><br />
                    <p>网上银行扣款后，三好网订单仍显示"未付款"怎么办？</p><br />
                    <p>可能是由于银行的数据没有即时传输，请您不要担心，稍后刷新页面查看。如较长时间仍显示未付款，可联系三好网客服</p>
                    <p>(010-57793692)为您解决。</p>
                    <h3>网上银行支付失败怎么办？</h3>
                    <p>如有由于网络中断，或页面过期、超时、错误等问题导致支付失败，请先确认是否已经扣款，如未扣款可尝试再支付一次。或者，您可以联系您的银行或支付平台获得帮助。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blank40"></div>

<!--{include footer}-->