<!--{include header}-->

<div class="blank30"></div>
<div class="w2 clearfix">
	<div class="ordersDetail clearfix">
    	<div class="ordersTop"><strong>购买仅需3步！</strong></div>
    	<div class="orderslMain">
        	<div class="step ss1"></div>
            <div class="plist">
            	<div class="pmt clearfix">
                	<ul>
                    	<li class="pname">商品名称</li>
                        <li class="pamount">数量</li>
                        <li class="pprice">价格</li>
                        <li class="pattribute">属性</li>
                    </ul>
                </div>
                <div class="pmc clearfix">
                	<ul>
                    	<li class="pname">
                        	<a href="/account/productdetail.php?id={$product['id']}">{$product['pname']}</a>
                        </li>
                        <li class="pamount">
                        	<div class="wrap-input">
                                <a href="javascript:void(0);" id="leftLessen">-</a>
                                <input type="text" name="buynum" maxlength="5" value="{$order['quantity']}" id="buy_product_num" class="text" />
                                <a href="javascript:void(0);" id="rightAdd">+</a>
                            </div>
                            <div class="store-prompt" id="product_prompt"></div>
                        </li>
                        <li class="pprice" id="product_price">{$product['price']}</li>
                        <li class="pattribute" id="product_property">{$order['property']}</li>
                    </ul>
                </div>
            </div>
            <div class="consignee">
                <div class="entry clearfix">
                    <dl class="item">
                        <dt>收货人：</dt>
                        <dd><input type="text" placeholder="收货人姓名" id="address_name" value="{$address['name']}" class="text" /><em id="address_name_check"></em></dd>
                    </dl>
                    <dl class="item">
                        <dt>手机号码：</dt>
                        <dd><input type="text" placeholder="手机号码" id="address_mobile" value="{$address['mobile']}" class="text" /><em id="address_mobile_check"></em></dd>
                    </dl>
                    <dl class="item">
                        <dt>固定电话：</dt>
                        <dd><input type="text" placeholder="固定电话" id="address_phone" value="{$address['phone']}" class="text" /><em id="address_phone_check"></em></dd>
                    </dl>
                    <dl class="item">
                        <dt>省市区：</dt>
                        <dd>
                        	<div class="fl">
                                <select id="showprovince">
                                    <option value="0">请选择省份</option>
                                    <!--{loop $province $index $one}-->
	                            	<option <!--{if $address['province_id'] == $one['id']}-->selected<!--{/if}--> value="{$one['id']}">{$one['name']}</option>
	                            	<!--{/loop}-->
                                </select>
                                <select id="showcity">
                                    <option value="0">请选择城市</option>
                                    <!--{loop $city $index $one}-->
	                            	<option <!--{if $address['city_id'] == $one['id']}-->selected<!--{/if}--> value="{$one['id']}">{$one['name']}</option>
	                            	<!--{/loop}-->
                                </select>
                                <select id="showarea">
                                   <option value="0">请选择地区</option>
                                   <!--{loop $area $index $one}-->
	                            	<option <!--{if $address['area_id'] == $one['id']}-->selected<!--{/if}--> value="{$one['id']}">{$one['name']}</option>
	                            	<!--{/loop}-->
                                </select>
                            </div>
                            <em id="checkprovince"></em>
                        </dd>
                    </dl>
                    <dl class="item">
                        <dt>街道号：</dt>
                        <dd style="height:65px;">
                        	<textarea id="address_street" placeholder="街道号">{$address['street']}</textarea>
                        	<div class="ts" id="address_street_check"></div>
                        </dd>
                    </dl>
                    <dl class="item">
                        <dt>邮政编码：</dt>
                        <dd><input type="text" placeholder="邮政编码" id="address_zipcode" value="{$address['postcode']}" class="text" /><em id="address_zipcode_check"></em></dd>
                    </dl>
                </div>
            </div>
            <div class="message">
            	<dl class="item">
                    <dt>买家留言：</dt>
                    <dd style="height:65px;">
                        <textarea id="address_buyer" maxlength="200" placeholder="选填，少于200字">{$order['remark']}</textarea>
                        <div class="ts" id="buyer_prompt"></div>
                    </dd>
                </dl>
            </div>
            <div class="confirm">
            	<!--{if $product['express_price'] != ''}-->
            	<div class="fore1">运费：{$product['express_price']}</div>
            	<!--{else}-->
            	<div class="fore1">运费：0:00</div>
            	<!--{/if}--> 
                <div class="fore2">应付总额：<span id="total_price">{$order['origin']}</span></div>
                <input type="hidden" id="product_id" value="{$product['id']}">
                 <input type="hidden" id="address_id" value="{$address['id']}">
                 <input type="hidden" id="saler_id" value="{$product['uid']}">
                  <input type="hidden" id="order_id" value="{$order['id']}">
                <div class="fore3"><input type="button" id="product_buy_submit" class="buybtn" /></div>
            </div>
        </div>
        <div class="ordersSide">
       		<div class="pbuy">
        		<div class="img"><a href="/account/productdetail.php?id={$product['id']}"><img src="/{$productimage['image']}" alt="" /></a></div>
            	<div class="name"><a href="/account/productdetail.php?id={$product['id']}">{$product['pname']}</a></div>
                <div class="pselect">
                <!--{if count($property) == 2}-->
                    <dl class="item">
                        <dt>{$property[0]['name']}</dt>
                        <dd><select class="select" id="product_property_first">
                        <!--{loop $property[0]['size'] $key $value}-->
                        <!--{if $value != ''}-->
	                    <option <!--{if $first_property == $value}-->selected<!--{/if}--> value="{$value}">{$value}</option>
	                    <!--{/if}-->
                    	<!--{/loop}-->
                        </select></dd>
                    </dl>
                    <dl class="item">
                        <dt>{$property[1]['name']}</dt>
                        <dd><select class="select" id="product_property_second">
                        <!--{loop $property[1]['size'] $key $value}-->
                        <!--{if $value != ''}-->
	                    <option <!--{if $second_property == $value}-->selected<!--{/if}--> value="{$value}">{$value}</option>
	                    <!--{/if}-->
                    	<!--{/loop}-->
                        </select></dd>
                    </dl>
                <!--{/if}-->
                <!--{if (count($property) == 1)}-->
                      <dl class="item">
                        <dt>{$property[0]['name']}</dt>
                        <dd><select class="select" id="product_property_first">
                        <!--{loop $property[0]['size'] $key $value}-->
                        <!--{if $value != ''}-->
	                    <option <!--{if $first_property == $value}-->selected<!--{/if}--> value="{$value}">{$value}</option>
	                    <!--{/if}-->
                    	<!--{/loop}-->
                        </select></dd>
                    </dl> 
                <!--{/if}-->
                </div>
                <div class="ppri">￥{$product['price']}</div>
            </div>
            <div class="pbuyt">
                <dl class="item">
                    <dt>运费</dt>
                    <!--{if $product['express_price'] != ''}-->
                    <dd id="product_express">￥{$product['express_price']}</dd>
                    <!--{else}-->
                    <dd id="product_express">￥0:00</dd>
                 	<!--{/if}-->  
                </dl>
                <dl class="item">
                    <dt>库存</dt>
                    <!--{if $product['max_number'] != ''}-->
                    <dd id="product_max_num" num="{$product['max_number']-$product['sale_number']}">{$product['max_number']-$product['sale_number']}</dd>
                    <!--{else}-->
                    <dd id="product_max_num" num="不限">不限</dd>
                    <!--{/if}-->
                </dl>
                <dl class="item">
                    <!--{if $product['end_time'] != ''}-->
                	<!--{if $product['end_time'] > $now}-->
                    <dt id="lasttime" curtime="{$now}000" diff="{$diff_time}000">剩余时间</dt>
                    <!--{if $left_day>0}-->
                    <dd id="difftime">{$left_day}天{$left_hour}时{$left_minute}分{$left_time}秒</dd>
                    <!--{else}-->
                    <dd id="difftime">{$left_hour}时{$left_minute}分{$left_time}秒</dd>
                    <!--{/if}-->
                    <!--{else}-->
                    <dt>剩余时间</dt>
                    <dd>已结束</dd>
                    <!--{/if}-->
                    <!--{/if}-->
                </dl>
            </div>
        </div>
    </div>
</div>
<script>
setTimeout('getproductlasttime()',1000);
</script>
<!--{include footer}-->