/log/*
/config/defines.php
/config/db_local.php
/runtime/*
/modules/api/controllers/test/*
/web/ofiles/*
/web/oimages/*
/web/assets/*
/.settings
/FaceSDK
/javaphp
.tags
.tags_sorted_by_file
.vscode
*.exvim
/.exvim.open
/modules/api/controllers/Yeepayback2Controller.php
/nbproject/private/
.DS_Store
.idea/
/controllers/TestController.php
common/*.pid
common/*.log
config/db_test.php
/modules/api/controllers/TestController.php
